{% load static %}

<link rel="stylesheet" href="{% static 'style/auth.css' %}"/>


<div>
{% if not user.is_authenticated %}

    <form class="form-5 clearfix" method="post" action="/user/login/">
        <p>
            <input type="text" id="login" name="login" placeholder="Логин">
            <input type="password" name="password" id="password" placeholder="Пароль">
        </p>
        <button type="submit" name="submit">
            <i class="icon-arrow-right"></i>
            <span>Вход</span>
        </button>
    </form>
    {% else %}
    <div class="form-5 clearfix">
         <p>{{ user.username}}</p>
    </div>
    {% endif %}

</div>