<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1><a href="/"><span>{{site_name}}</span></a></h1>
            <div id="menu">
                <ul>
                    <li class="current_page_item"><a href="/" accesskey="1" title="">Главная</a></li>
                    <li><a href="/galery" accesskey="2" title="">Галерея</a></li>
                    <li><a href="/photograf" accesskey="3" title="">Фотографы</a></li>
                    <li><a href="/contacts" accesskey="4" title="">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>